.highContrast{
    background-color:black;
    color:white;
    border: 1px solid orange;

}
button{width: 130px; height: 50px; margin-left: 3px; margin-top: 2px; border:1px solid green}
ul {list-style-type:none; margin:0; padding:0}
li {margin:0; padding:0;}
.listbutton{width: auto; height: 25px; margin-left: 3px; margin-top: 4px; border:none;border:1px solid green}
.tabBtn{border:none; height: 70px;width:270px; margin-left: -4px;    margin-right: -1px; margin-top:4px }
.tabBtn:hover { border: 2px solid black;  }
#root{width:1230px}
.contactBox { width:50%; margin-bottom:20px !important}
.dialBtn { width:197.5px; font-weight: bold; }
#dialer-textbox {width: 406px}
.buttonContact {background-color: #e7e7e7; color: black; border:2px solid black; display: inline-block;width:auto; height:auto;}
#gesture-area {width:300px; height:300px; margin-top:-16px;margin-bottom:20px; background: silver; text-align: center; vertical-align: middle; line-height: 300px; }
#swipe-area {width:400px; height:50px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;border:1px solid orange;margin-top:20px; background: gray; text-align: center; vertical-align: middle; line-height: 50px;}
.style-change{width:auto; height:auto;}
#swipe-div{position: absolute;top: 730;left: 0;}
a {
    color: chocolate;
  }
